.card-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-alura);
    height: 160px;
    width: 130px;
    user-select: none;
    border-left: 4px solid var(--color-floral-white);
    border-right: 4px solid var(--color-floral-white);
}

.card-game::before {
    content: '';
    position: absolute;
    border-top: 4px solid var(--color-floral-white);
    border-bottom: 4px solid var(--color-floral-white);
    width: 130px;
    height: 160px;
}

.card-down {
    display: none;
    background-color: var(--color-fiery-rose);
}

.card-up {
    display: flex;
    background-color: var(--color-alura);
}