html,
body {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-old-silver);
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
}

#root {
    background-color: var(--color-pomb-and-power);
}