.arrow-down {
    position: absolute;
    top: 5px;
    transform: translateX(-44px);
    transition: transform 200ms ease-in-out;
}

.arrow-down[data-current-player="2"] {
    transform: translateX(44px);
}