.player-name {
    width: 70px;
    height: 10px;
    left: 20px;
    top: 25px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: var(--color-floral-white);
}