.owner-game {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 10px;
    color: var(--color-floral-white);
}